<style>
table, th, td {
    text-align: left;
}
table{
   width:100%;
}
html{
   background-image: url(coffeebackground.jpg);
   background-size: 100%;
}
</style>

<div>
   <a href="#/coffees">Go Back</a><br>
   <strong>Reviews for {{coffee.brand}}</strong>
   <table>
      <tr><th>Reviewer:</th><th>Comment:</th><th>Rating:</th></tr>
      <tr ng-repeat="review in coffee.reviews">
         <td>{{review.reviewer}}</td><td>{{review.comment}}</td>
         <td><div ng-init="x =this.reviews.rating">
            <uib-rating ng-model="x" max={{review.rating}}
                        readonly ="true"
                        state-off="'glyphicon-star'"
                        aria-labelledby="custom-icons-1">
            </uib-rating>
         </div></td>
      </tr>
   </table>
</div>