<style>
table, th, td {
    text-align: left;
}
table{
   width:100%;
}
   html{
   background-image: url(coffeebackground.jpg);
   background-size: 100%;
}

</style>

<div class ="col-md-2">
   <a href="#/coffees">Home</a><br>
   Search: <input ng-model="query">
</div>
<div class ="col-md-10">
   <table>
      <tr><th>Reviews:</th><th>Brand:</th><th>Coffee Title:</th><th>Country:</th></tr>
      <tr ng-repeat="coffee in coffees | filter:query | orderBy:'name'">
         <td><a href="#/coffees/{{coffee.id}}">Reviews</a></td><td>{{coffee.brand}}</td><td>{{coffee.name}}</td><td>{{coffee.country}}</td>
      </tr>
   </table>
</div>
   
 
